*
{
	margin:0;
	padding: 0;
}
body
{
	background-image: url(sbg2.jpg);
    background-size: cover;
    height: 500px;
    background-position: center;
}
.divsign
{
	margin-left: 26px;
	margin-top: 204px;
}
.btn
{
	margin-left:15px
}